:host {
  display: block;
}

.hero-bg {
  background-image: 'assets/hero-bg.jpg';
  background-size: cover;
  background-position: center;
  will-change: transform;
}

.hero {}

.top-cat {
  width: 100%;
  max-width: 180px;
  display: block;
}

.top-cat__card {
  min-height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
