@if (loading()) {
  <loading />
}

@if (success()) {
  <success />
}

@if (!loading() && !success() && !hasError()) {
  <form
    class="gap-2"
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()"
  >
    <fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-full p-6">

      <div class="flex flex-col gap-4">
        <label class="label" for="email">Email</label>
        <input type="email" class="input w-full" placeholder="Email" formControlName="email"/>

        <label class="label" for="password">Password</label>
        <input type="password" class="input w-full" placeholder="Password" formControlName="password"/>

        <div class="w-full flex justify-end">
          <button type="button" class="text-primary hover:underline cursor-pointer" (click)="openRegister()">
            Registrarme
          </button>
        </div>

        <button class="btn btn-neutral w-full">
          Login
        </button>
      </div>
    </fieldset>
  </form>
}

@if (hasError()) {
  <div class="text-error text-sm mt-1">
    {{ hasError() }}
  </div>
}

