@if (visible()) {
  <div class="fixed inset-0 flex items-center justify-center z-50">
    <div class="bg-base-100 border border-slate-700 rounded-xl shadow-xl p-6 w-[320px] text-center backdrop-blur-sm">
      <h2 class="text-lg font-bold mb-3 text-slate-200">{{ title() }}</h2>
      <p class="mb-6 text-slate-400">{{ message() }}</p>

      <div class="flex justify-center gap-4">
        <button
          class="btn btn-sm bg-red-500 hover:bg-red-600 text-white font-semibold cursor-pointer"
          (click)="close(true)"
        >
          Si
        </button>

        <button
          class="btn btn-sm bg-slate-700 hover:bg-slate-600 text-slate-100 font-semibold cursor-pointer"
          (click)="close(false)"
        >
          No
        </button>
      </div>
    </div>
  </div>
}
