<div class="flex justify-between items-center mb-2">
  <h1 class="text-2xl font-bold">
    {{ category().name || 'Crear nueva categoría' }}
  </h1>
</div>

<div class="divider"></div>

<form
  [formGroup]="categoryForm"
  class="grid grid-cols-1 sm:grid-cols-2 gap-4"
  (ngSubmit)="onSubmit()"
>
  <div class="flex flex-col gap-2">
    <h2 class="text-xl font-bold h-12">Datos generales</h2>

    <input
      type="text"
      placeholder="Nombre"
      class="input input-bordered w-full"
      formControlName="name"
      [class.border-red-500]="categoryForm.get('name')?.errors ?? false"
    />
    <form-error-label [control]="categoryForm.get('name')!" />
  </div>

  <div class="flex flex-col gap-2">
    <div class="flex justify-end h-12">
      <button class="btn btn-secondary" type="submit">Guardar</button>
    </div>
  </div>
</form>

