<div class="overflow-x-auto">
  <table class="table">
    <thead>
      <tr>
        <th>Nro</th>
        <th>Nombre</th>
        <th>Teléfono</th>
        <th>Email</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @for (contact of contacts(); track contact.id; let i = $index) {
        <tr>
          <th>{{ i + 1 }}</th>
          <td>
            <a [routerLink]="['/admin/contact', contact.id]"
               class="font-bold hover:text-primary transition-colors duration-300">
              {{ contact.title }}
            </a>
          </td>
          <td>{{ contact.phone }}</td>
          <td>{{ contact.email }}</td>
          <th>
            <a [routerLink]="['/admin/contact', contact.id]"
               class="btn btn-ghost text-primary btn-xs">
              Detalles
            </a>
          </th>
        </tr>
      }
    </tbody>
  </table>
</div>
