<div class="overflow-y-auto max-h-[75vh] overflow-x-auto border border-slate-700 rounded-xl">
  <table class="table table-zebra w-full">
    <thead class="sticky top-0 bg-slate-900 z-10">
      <tr>
        <th></th>
        <th>Nombre</th>
        <th>Teléfono</th>
        <th>Email</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @if (contacts().length) {
        @for (contact of contacts(); track contact.id; let i = $index) {
          <tr>
            <th>{{ i + 1 }}</th>
            <td>
              <a [routerLink]="['/admin/contacts', contact.id]"
                 class="font-bold hover:text-primary transition-colors duration-300">
                {{ contact.title }}
              </a>
            </td>
            <td>{{ contact.phone }}</td>
            <td>{{ contact.email }}</td>
            <th class="flex justify-end items-center">
              <table-action-buttons
                [editLink]="['/admin/contacts', contact.id]"
                (delete)="onDelete(contact.id)"
              />
            </th>
          </tr>
        }
      } @else {
        <tr>
          <td colspan="5" class="text-center py-6 text-sm opacity-70">
            No hay contactos.
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>

<confirm-dialog />
