<h1 class="text-3xl font-bold mb-6 mt-6">Todos los productos</h1>

@if (loading()) {
  <div class="min-h-[50vh] gap-4">
    <loading />
  </div>
}

@if (error()) {
  <p class="text-red-500">{{ error() }}</p>
}

@if (!loading() && !error() && productResponse()?.products?.length) {
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 mt-6 gap-8">
    @for (product of productResponse()?.products; track $index) {
      <product-card [product]="product" />
    }
  </div>

  <div class="flex justify-center mt-2 mb-8">
    <pagination
      [pages]="productResponse()?.pages ?? 0"
      [currentPage]="paginationService.currentPage()"
    ></pagination>
  </div>
}

@if (!loading() && !error() && productResponse()?.products?.length === 0) {
  <p>No hay productos para mostrar</p>
}
