<div class="card bg-base-100 w-85 shadow-sm opacity-80">
  <figure>
    <div>
      <img [src]="product().imagesName | productImage" alt="">
    </div>
  </figure>
  <div class="card-body">
    <h2
      class="card-title hover:underline cursor-pointer"
      [routerLink]="['/product', product().slug]"
    >
      {{ product().title }}
    </h2>
    <p> {{ product().description | slice: 0 : 70}}</p>
    <div class="card-actions justify-end">
      <a [routerLink]="['/product', product().slug]" class="btn btn-primary">
        Ver
      </a>
    </div>
  </div>
</div>
