<div
  class="card bg-base-100 shadow-none hover:shadow-2xl transition-shadow duration-300 opacity-90 hover:opacity-300 w-full max-w-[260px] sm:max-w-[280px] md:max-w-[300px] mx-auto"
>
  <figure>
    <img
      [src]="product().imagesName | productImage"
      alt="{{ product().title }}"
      [routerLink]="['/product', product().slug]"
      class="cursor-pointer"
    />
  </figure>

  <div class="card-body p-3 sm:p-4 md:p-5">
    <h2
      class="card-title cursor-pointer min-h-10 sm:min-h-12 md:min-h-14 text-sm sm:text-base md:text-lg line-clamp-2 justify-center"
      [routerLink]="['/product', product().slug]"
    >
      {{ product().title | slice : 0 : 70 }}
    </h2>

    <p class="min-h-12 sm:min-h-16 md:min-h-18 text-xs sm:text-sm md:text-base line-clamp-3">
      {{ product().description | slice : 0 : 100 }}
    </p>

    <div class="mt-2 flex flex-col items-center">
      <p class="font-bold text-sm sm:text-base md:text-lg">
        {{ product().price | guaranies }}
      </p>
      <button
        (click)="addToCart()"
        type="button"
        class="card-actions flex justify-center items-center btn btn-primary btn-sm sm:btn-md mt-2 relative min-w-[150px]"
      >
        @if (loading()) {
          Agregando...
        } @else if (success()) {
          Agregado
        } @else {
          Agregar al carrito
        }
      </button>
    </div>
  </div>
</div>
