<div class="card bg-base-100 w-85 shadow-sm opacity-80">
  <figure>
    <img [src]="product().imagesName | productImage" alt="">
  </figure>
  <div class="card-body">
    <h2
      class="card-title hover:underline cursor-pointer"
      [routerLink]="['/product', product().slug]"
    >
      {{ product().title }}
    </h2>
    <p class="min-h-[70px]"> {{ product().description | slice: 0 : 70}}</p>
    <div class="card-actions justify-end">
      <button (click)="addToCart()" type="button" class="btn btn-primary">
        Agregar al carrito
      </button>
    </div>
  </div>
</div>
