<h1 class="text-2xl font-bold">Listado de productos</h1>
<h3 class="text-lg">
  Total de productos
  <span class="text-primary">{{ productResponse()?.count }}</span>
</h3>

<div class="flex gap-2 items-center h-20">
  <select
    class="select select-bordered w-32"
    (change)="updateProductsPerPage(+selectPerPage.value)"
    #selectPerPage
  >
    <option value="10">10</option>
    <option value="20">20</option>
    <option value="50">50</option>
    <option value="100">100</option>
  </select>

  <pagination
      [pages]="productResponse()?.pages ?? 0"
      [currentPage]="paginationService.currentPage()"
  ></pagination>

  <div class="flex flex-1"></div>
  <button
    class="btn btn-primary"
    routerLink="/admin/product/new"
  >
    Cargar producto
  </button>
</div>


<products-table
  [products]="productResponse()?.products ?? []"
  [currentPage]="paginationService.currentPage()"
  [countPage]="this.productPerPage()"
></products-table>
