<div class="overflow-y-auto max-h-[75vh] overflow-x-auto border border-slate-700 rounded-xl">
  <table class="table table-zebra w-full">
    <thead class="sticky top-0 bg-slate-900 z-10">
      <tr>
        <th></th>
        <th>Nombre completo</th>
        <th>Email</th>
        <th>Rol</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @if (users().length) {
        @for (user of users(); track user.id; let i = $index) {
          <tr>
            <th>{{ i + 1 }}</th>
            <td>
              <a [routerLink]="['/admin/users', user.id]"
                 class="font-bold hover:text-primary transition-colors duration-300">
                {{ user.fullName }}
              </a>
            </td>
            <td>{{ user.email }}</td>
            <td>{{ getUserRolesPlain(user) }}</td>
            <th class="flex justify-end items-center">
              <table-action-buttons
                [editLink]="['/admin/users', user.id]"
                (delete)="onDelete(user.id)"
              />
            </th>
          </tr>
        }
      } @else {
        <tr>
          <td colspan="5" class="text-center py-6 text-sm opacity-70">
            No hay usuarios.
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>

<confirm-dialog />
