<div
  class="card bg-base-100 shadow-none w-full max-w-[260px] sm:max-w-[280px] md:max-w-[300px] mx-auto animate-pulse rounded-2xl overflow-hidden"
>
  <figure class="w-full h-48 bg-base-200 overflow-hidden flex items-center justify-center">
    <div class="skeletor-thumb"></div>
  </figure>

  <div class="p-3 sm:p-4 md:p-5">
    <div class="skeletor-title mb-3"></div>

    <div class="space-y-2 mb-4">
      <div class="skeletor-line"></div>
      <div class="skeletor-line w-11/12"></div>
      <div class="skeletor-line w-3/4"></div>
    </div>

    <div class="mt-2 flex flex-col items-center gap-3">
      <div class="skeletor-title h-4 w-20"></div>
      <div class="skeletor-pill w-28"></div>
    </div>
  </div>
</div>
