:host {
  display: block;
}

:host input:-webkit-autofill,
:host input:-webkit-autofill:hover,
:host input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px transparent inset;
  box-shadow: 0 0 0 1000px transparent inset;
  -webkit-text-fill-color: inherit;
  background-color: transparent !important;
}
