<div class="navbar bg-base-100 shadow-sm">

  <div class="navbar-start mx-3">
    <app-logo />
  </div>

  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      @for (item of menuItemsDefault(); track $index) {
        <li>
          <a
            [routerLink]="item.routerLink"
            routerLinkActive="text-secondary"
            [routerLinkActiveOptions]="{exact: true}"
            (click)="[
              configurationService.toggleSidebarItemsStatus('closed'),
              configurationService.toggleSidebarPageStatus('closed')
            ]"
          >
            {{ item.label }}
          </a>
        </li>
      }

      @if (authService.isAdmin()) {
        <li class="border-l border-gray-400 h-6 mx-2 drop-shadow-sm"></li>
      }

      @for (item of menuItemsAdmin(); track $index) {
        <li>
          <a
            [routerLink]="item.routerLink"
            routerLinkActive="text-secondary"
            [routerLinkActiveOptions]="{exact: true}"
            (click)="[
              configurationService.toggleSidebarItemsStatus('closed'),
              configurationService.toggleSidebarPageStatus('closed')
            ]"
          >
            {{ item.label }}
          </a>
        </li>
      }
    </ul>
  </div>

  <div class="navbar-end gap-2 mx-3">
    <nav-user-options />
  </div>

</div>
