<h1 class="text-2xl font-bold">{{ user().fullName || "Crear nuevo usuario" }}</h1>
<div class="divider"></div>

<form
  [formGroup]="userForm"
  class="grid grid-cols-1 sm:grid-cols-2 gap-4"
  (ngSubmit)="onSubmit()"
>
  <div class="flex flex-col gap-2">
    <h2 class="text-xl font-bold h-12">Datos generales</h2>
    <input
      type="text"
      placeholder="Nombre completo"
      class="input input-bordered w-full"
      formControlName="fullName"
      [class.border-red-500]="userForm.get('fullName')?.errors ?? false"
    />
    <form-error-label [control]="userForm.get('fullName')!" />

    <input
      type="email"
      placeholder="Correo electrónico"
      class="input input-bordered w-full"
      formControlName="email"
      [class.border-red-500]="userForm.get('email')?.errors ?? false"
    />
    <form-error-label [control]="userForm.get('email')!" />

    <input
      type="text"
      placeholder="Roles"
      class="input input-bordered w-full"
      formControlName="roles"
      [class.border-red-500]="userForm.get('roles')?.errors ?? false"
    />
    <form-error-label [control]="userForm.get('roles')!" />
  </div>

  <div class="flex flex-col gap-2">
    <div class="flex justify-end h-12">
      <button class="btn btn-secondary" type="submit">Guardar</button>
    </div>
  </div>
</form>
