<div class="card bg-base-100 w-96 shadow-md hover:shadow-lg transition-shadow duration-300">
  <div class="card-body items-center text-center">
    <h3 class="card-title text-xl text-primary mb-2">
      {{ contact().title }}
    </h3>
    <p class="text-sm opacity-80">
      <a
        class="text-primary hover:underline"
        target="_blank"
        rel="noopener noreferrer"
        [href]="'https://wa.me/' + contact().phone"
      >
        📞 {{ contact().phone }}
      </a>
    </p>
    <p class="text-sm opacity-80">
      ✉️ {{ contact().email }}
    </p>
  </div>
</div>
