<footer
  class="footer footer-center p-10 bg-base-200 text-base-content"
>
  <nav class="grid grid-flow-col gap-4">
    <p>© 2025 Gluten Free — Todos los derechos reservados</p>
  </nav>

  <aside class="flex flex-col sm:flex-row gap-4">
    <a routerLink="/privacy-policies" class="link link-hover">
      Política de Privacidad
    </a>
    <a routerLink="/terms-conditions" class="link link-hover">
      Términos y Condiciones
    </a>
    <a routerLink="/contact" class="link link-hover">
      Contacto
    </a>
  </aside>
</footer>
