<div class="overflow-y-auto max-h-[75vh] overflow-x-auto border border-slate-700 rounded-xl">
  <table class="table table-zebra w-full">
    <thead class="sticky top-0 bg-slate-900 z-10">
      <tr>
        <th></th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @if (roles().length) {
        @for (role of roles(); track role.id; let i = $index) {
          <tr>
            <th>{{ i + 1 }}</th>
            <td>
              <a [routerLink]="['/admin/roles', role.id]"
                 class="font-bold hover:text-primary transition-colors duration-300">
                {{ role.name }}
              </a>
            </td>
            <td>{{ role.description }}</td>
            <th class="flex justify-end items-center">
              <table-action-buttons
                [editLink]="['/admin/roles', role.id]"
                (delete)="onDelete(role.id)"
              />
            </th>
          </tr>
        }
      } @else {
        <tr>
          <td colspan="4" class="text-center py-6 text-sm opacity-70">
            No hay roles disponibles.
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>

<confirm-dialog />
