:host {
  display: block;
}

.cart-item-card {
  transition: opacity 250ms ease, transform 250ms ease, filter 250ms ease;
}

.cart-item-removing {
  opacity: 0;
  transform: translateY(12px);
  filter: blur(2px);
}

/* Ocultar flechas nativas del input number en el carrito */
input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
