<div class="overflow-y-auto max-h-[75vh] overflow-x-auto border border-slate-700 rounded-xl">
  <table class="table table-zebra w-full">
    <thead class="bg-slate-900">
      <tr>
        <th></th>
        <th>Título</th>
        <th>Texto</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @if (recipes().length) {
        @for (recipe of recipes(); track recipe.id; let i = $index) {
          <tr>
            <th>
              <label>
                {{ i + 1 }}
              </label>
            </th>
            <td>
              <a
                [routerLink]="['/admin/recipes', recipe.id]"
                class="font-bold hover:text-primary transition-colors duration-300"
              >
                {{ recipe.title }}
              </a>
            </td>
            <td>
              <div class="text-sm opacity-70">
                {{ recipe.text | slice:0:50 }}...
              </div>
            </td>
            <th class="flex justify-end items-center">
              <table-action-buttons
                [editLink]="['/admin/recipes', recipe.id]"
                (delete)="onDelete(recipe.id)"
              />
            </th>
          </tr>
        }
      } @else {
        <tr>
          <td colspan="4" class="text-center py-6 text-sm opacity-70">
            No hay recetas disponibles.
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>

<confirm-dialog />
