<div class="flex flex-col h-full">
  @if ((cartItems$ | async)?.length! > 0) {
    <div class="flex-1 pb-28">
      <cart-items [cartItems]="(cartItems$ | async)!"></cart-items>
    </div>
  } @else {
    <div class="flex-1 flex items-center justify-center text-gray-500 min-h-[75vh]">
      Tu carrito está vacío
    </div>
  }
</div>

@if ((cartItems$ | async)?.length! > 0) {
  <div class="navbar cart-bar bg-base-100 border-t border-base-300 fixed bottom-0 left-0 right-0 px-6 justify-between">
    <div class="text-lg font-semibold">
      Total: {{ (total$ | async)! | guaranies }}
    </div>
    <div class="flex items-center gap-2 ml-auto">
      <button
        (click)="clearCart()"
        class="btn btn-warning btn-sm"
      >
        Vaciar carrito
      </button>
      <button
        class="btn btn-primary btn-sm"
        (click)="goToCart()"
      >
        Ir al carrito
      </button>
    </div>
  </div>
}
