:host {
  display: block;
}

.promo-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Mantener corte 1920 x 450 sin importar el tamaño de la imagen */
.promo-aspect {
  aspect-ratio: 1920 / 450;
}
