:host {
  display: block;
}

.promo-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.promo-aspect {
  position: relative;
  aspect-ratio: 1920 / 450;
}

.promo-aspect::before {
  content: '';
  display: block;
  padding-top: 23.4375%;
}

@supports (aspect-ratio: 1 / 1) {
  .promo-aspect::before {
    display: none;
  }
}
