:host {
  display: block;
}

.recipes-layout {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.recipes-bar {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}
